<div class="container mt-4" id="info-graphs">
    <div class="row mb-4">
      <div class="col-md-6">
        <div class="card fade-in">
          <div class="card-body">
            <h5 class="card-title">
              <i class="bi bi-rulers" style="color: #2E3B87;"></i> <span class="ms-2">Calibre</span>
            </h5>
            <canvas id="barChart1"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card fade-in">
          <div class="card-body">
            <h5 class="card-title">
              <i class="bi bi-droplet-half" style="color: #88D135;"></i> <span class="ms-2">Variedad</span>
            </h5>
            <canvas id="barChart2"></canvas>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div class="card fade-in">
          <div class="card-body">
            <h5 class="card-title">
              <i class="bi bi-house-door" style="color: #3DCCEC;"></i> <span class="ms-2">Nave</span>
            </h5>
            <canvas id="pieChart1"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card fade-in">
          <div class="card-body">
            <h5 class="card-title">
              <i class="bi bi-person-badge" style="color: #A4D65E;"></i> <span class="ms-2">Productor</span>
            </h5>
            <canvas id="pieChart2"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  